<form id="sign" >
  <input id="alias" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
  <input id="pass" type="text" placeholder="passphrase" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <input *ngIf="!alias" id="in" type="submit" value="sign in" (click)="login()">
  <input *ngIf="!alias" id="up" type="button" value="sign up" (click)="createUser()">
  <input *ngIf="alias"  type="button" value="logout" (click)="logout()">
</form>

<form id="said">
  <input id="say" [(ngModel)]="message"  [ngModelOptions]="{standalone: true}">
  <input  id="speak" type="button" value="speak" (click)="sendMessage()" >
</form>

<div>
  <p *ngFor="let todo of todos "> {{todo | json}}</p>
</div>
